.container{
    display: flex;
    max-width: 120rem;
    margin: auto;
    padding: 0rem 3.2rem;
    .hero-grid{
        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        margin: 2.9rem;
       
    }
}