*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family:  "Urbanist";
}
p, li, a, button{
  font-size: 1.7rem;
  letter-spacing: .1rem;
}
header{
  position: absolute;
  height: 10rem;
  background-color: #fff;
  box-shadow: rgb(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 100%;
}
